In [1]:
import team_utils as tu
import pandas as pd
import numpy as np
import requests
import my_utils2 as mu
from tqdm import tqdm

In [2]:
import ast
df = pd.read_csv("RAWDATA1.csv")
df["MATCHES"] = df["MATCHES"].apply(lambda x: ast.literal_eval(x))

In [3]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [4]:
df.columns

Index(['VERSION', 'GAME_CREATE_TIME', 'GAME_ID', 'PARTICIPANT_NUMBER',
       'PARTICIPANT_PUUID', 'API_KEY', 'MATCHES', 'TIMELINE'],
      dtype='object')

In [6]:
df.iloc[0].MATCHES.keys()

dict_keys(['game', 'summoner', 'champion', 'spell', 'rune', 'item', 'kda', 'gold', 'cs', 'turret', 'damage', 'vision', 'etc'])

In [9]:
df.iloc[0].MATCHES

{'game': {'gameCreation': 1683104197688,
  'gameStartTimestamp': 1683104231914,
  'gameEndTimestamp': 1683105564169,
  'gameDuration': 1332,
  'gameVersion': '13.9.506.4846',
  'queueId': 420,
  'bans': [{'championId': 11, 'pickTurn': 1},
   {'championId': 53, 'pickTurn': 2},
   {'championId': 43, 'pickTurn': 3},
   {'championId': 157, 'pickTurn': 4},
   {'championId': 122, 'pickTurn': 5},
   {'championId': 60, 'pickTurn': 6},
   {'championId': 360, 'pickTurn': 7},
   {'championId': 126, 'pickTurn': 8},
   {'championId': 111, 'pickTurn': 9},
   {'championId': 69, 'pickTurn': 10}]},
 'summoner': {'summonerName': '이미겨울',
  'summonerLevel': 346,
  'summonerId': 'kR2gNdVgdQrvLBYUWo4DMYgM0Ze5OCc5qM1xvDrwUewGM7E',
  'puuid': 'RXo-wANKuARU2t1n5s3iQeqhvWtQ8xUjlPuYnep5p-8NMwYbcMGsJr8aXEozyjOOjnHDZBdOmtxbKg'},
 'champion': {'championId': 201,
  'championName': 'Braum',
  'champLevel': 9,
  'lane': 'BOTTOM',
  'individualPosition': 'UTILITY',
  'teamPosition': 'UTILITY',
  'teamId': 100,
  'win': False},
 'spell': {'summoner1Id': 4, 'summoner2Id': 14},
 'rune': {'runePrimaryStyle': 8400,
  'runeCorePerk': 8465,
  'runePrimaryPerk1': 8463,
  'runePrimaryPerk2': 8473,
  'runePrimaryPerk3': 8242,
  'runeSubStyle': 8300,
  'runeSubPerk1': 8345,
  'runeSubPerk2': 8347,
  'runeShardOffense': 5005,
  'runeShardFlex': 5002,
  'runeShardDefense': 5002},
 'item': {'item0': 3860,
  'item1': 3190,
  'item2': 0,
  'item3': 0,
  'item4': 3047,
  'item5': 0,
  'item6': 3364},
 'kda': {'kills': 1,
  'deaths': 8,
  'assists': 6,
  'kda': 0.875,
  'killParticipation': 0.4117647058823529},
 'gold': {'bountyLevel': 0,
  'bountyGold': 0,
  'goldEarned': 5269,
  'goldPerMinute': 237.29156624288026},
 'cs': {'totalMinionsKilled': 25, 'laneMinionsFirst10Minutes': 14},
 'turret': {'turretTakedowns': 0, 'turretPlatesTaken': 0},
 'damage': {'teamDamagePercentage': 0.07511057195371387,
  'totalDamageDealtToChampions': 4794,
  'physicalDamageDealtToChampions': 1219,
  'magicDamageDealtToChampions': 3073,
  'trueDamageDealtToChampions': 500,
  'damageDealtToBuildings': 0,
  'damageDealtToObjectives': 0,
  'totalDamageTaken': 16057,
  'physicalDamageTaken': 9225,
  'magicDamageTaken': 6201,
  'trueDamageTaken': 631,
  'totalHeal': 150,
  'totalHealsOnTeammates': 197},
 'vision': {'visionScore': 32,
  'wardsPlaced': 14,
  'controlWardsPlaced': 4,
  'wardsKilled': 3},
 'etc': {'spell1Casts': 42,
  'spell2Casts': 19,
  'spell3Casts': 13,
  'spell4Casts': 5,
  'firstBloodKill': False,
  'largestKillingSpree': 0,
  'largestMultiKill': 1}}

In [8]:
df.iloc[0].MATCHES['rune']

{'runePrimaryStyle': 8400,
 'runeCorePerk': 8465,
 'runePrimaryPerk1': 8463,
 'runePrimaryPerk2': 8473,
 'runePrimaryPerk3': 8242,
 'runeSubStyle': 8300,
 'runeSubPerk1': 8345,
 'runeSubPerk2': 8347,
 'runeShardOffense': 5005,
 'runeShardFlex': 5002,
 'runeShardDefense': 5002}

In [12]:
df.iloc[0]['MATCHES']['rune']['runePrimaryStyle']

8400

In [5]:
result=[]
col=['championId','lane','runetype_core','core_mainrune','core_rune1','core_rune2','core_rune3','runetype_sub','sub_rune1','sub_rune2','shard_offense','shard_flex','shard_defence','win']
for i in range(len(df)):
    lst=[]
    lst.append(df.iloc[i]['MATCHES']['champion']['championId'])
    lst.append(df.iloc[i]['MATCHES']['champion']['teamPosition'])
    lst.append(df.iloc[i]['MATCHES']['rune']['runePrimaryStyle'])
    lst.append(df.iloc[i]['MATCHES']['rune']['runeCorePerk'])
    lst.append(df.iloc[i]['MATCHES']['rune']['runePrimaryPerk1'])
    lst.append(df.iloc[i]['MATCHES']['rune']['runePrimaryPerk2'])
    lst.append(df.iloc[i]['MATCHES']['rune']['runePrimaryPerk3'])
    lst.append(df.iloc[i]['MATCHES']['rune']['runeSubStyle'])
    lst.append(df.iloc[i]['MATCHES']['rune']['runeSubPerk1'])
    lst.append(df.iloc[i]['MATCHES']['rune']['runeSubPerk2'])
    lst.append(df.iloc[i]['MATCHES']['rune']['runeShardOffense'])
    lst.append(df.iloc[i]['MATCHES']['rune']['runeShardFlex'])
    lst.append(df.iloc[i]['MATCHES']['rune']['runeShardDefense'])
    lst.append(df.iloc[i]['MATCHES']['champion']['win'])
    
    result.append(lst)
    champ_rune = pd.DataFrame(result,columns=col)

In [6]:
champ_rune

,championId,lane,runetype_core,core_mainrune,core_rune1,core_rune2,core_rune3,runetype_sub,sub_rune1,sub_rune2,shard_offense,shard_flex,shard_defence,win
0,201,UTILITY,8400,8465,8463,8473,8242,8300,8345,8347,5005,5002,5002,False
1,350,UTILITY,8200,8214,8226,8233,8236,8100,8138,8106,5008,5008,5002,False
2,875,TOP,8000,8010,9111,9104,8299,8400,8242,8444,5005,5008,5002,True
3,76,JUNGLE,8100,8128,8143,8138,8105,8200,8210,8232,5005,5008,5002,True
4,39,MIDDLE,8000,8010,9111,9104,8299,8300,8345,8347,5005,5008,5002,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3395,126,TOP,8000,8010,8009,9105,8299,8300,8304,8345,5008,5008,5002,False
3396,103,MIDDLE,8100,8112,8139,8138,8106,8200,8226,8210,5005,5008,5003,True
3397,51,BOTTOM,8000,8008,8009,9103,8014,8200,8233,8236,5005,5008,5002,True
3398,82,TOP,8000,8010,9111,9105,8299,8400,8453,8473,5005,5008,5002,True
3399,517,JUNGLE,8100,8128,8143,8138,8105,8300,8321,8347,5008,5008,5002,True

In [13]:
champ_rune_count = champ_rune.groupby(['championId','lane','runetype_core','core_mainrune','runetype_sub']).count().rename(columns={'win':'games'})[['games']]

In [14]:
champ_rune_win = champ_rune.groupby(['championId','lane','runetype_core','core_mainrune','runetype_sub']).sum()[['win']]

In [15]:
result = champ_rune_count.join(champ_rune_win)
result

                                                             games  win
championId lane    runetype_core core_mainrune runetype_sub
1          MIDDLE  8100          8112          8200             10    5
                                               8300              1    1
                                 8128          8200              1    0
                   8200          8229          8300              1    0
           UTILITY 8200          8214          8300              3    1
...                                                            ...  ...
902        UTILITY 8000          8021          8100              1    0
                   8200          8214          8300             19    9
                                               8400             18    7
                   8400          8465          8200              1    0
                                               8300              5    4

[848 rows x 2 columns]

In [16]:
result['win_rate']= round(result.win/result.games * 100,2)

In [17]:
result.reset_index(inplace=True)

In [19]:
result[result['championId']==1]

,championId,lane,runetype_core,core_mainrune,runetype_sub,games,win,win_rate
0,1,MIDDLE,8100,8112,8200,10,5,50.00
1,1,MIDDLE,8100,8112,8300,1,1,100.00
2,1,MIDDLE,8100,8128,8200,1,0,0.00
3,1,MIDDLE,8200,8229,8300,1,0,0.00
4,1,UTILITY,8200,8214,8300,3,1,33.33

In [70]:
def rawdataLoader(datas: str):
    return json.loads(datas.replace("'", '"').replace('True', '"True"').replace('False', '"False"'))

In [62]:
df2 = mu.oracle_totalExecute("SELECT * FROM RAWDATA")

oracle open!
oracle close!

In [63]:
df2

,VERSION,GAME_CREATE_TIME,GAME_ID,PARTICIPANT_NUMBER,PARTICIPANT_PUUID,API_KEY,MATCHES,TIMELINE
0,13.9.506.4846,1683104197688,KR_6477814260,3,fQma1Vb1JltzRhsOoglHFo7it2HOaHnXtVGLC1t-xbzpVJ...,RGAPI-baa753a4-a532-4640-9886-d8f05d8f2b39,"{'game': {'gameCreation': 1683104197688, 'game...",{'제조 필요!': '어떤 정보를 넣을지 의논 필요'}
1,13.9.506.4846,1683104197688,KR_6477814260,4,Uhk2yXBlJ3-8ASagwROQvBubxqx76-CYJ2EjPVOIMaa3Iy...,RGAPI-baa753a4-a532-4640-9886-d8f05d8f2b39,"{'game': {'gameCreation': 1683104197688, 'game...",{'제조 필요!': '어떤 정보를 넣을지 의논 필요'}
2,13.9.506.4846,1683104197688,KR_6477814260,5,RXo-wANKuARU2t1n5s3iQeqhvWtQ8xUjlPuYnep5p-8NMw...,RGAPI-baa753a4-a532-4640-9886-d8f05d8f2b39,"{'game': {'gameCreation': 1683104197688, 'game...",{'제조 필요!': '어떤 정보를 넣을지 의논 필요'}
3,13.9.506.4846,1683101883696,KR_6477768188,10,WGBuHEXTVa2x54eGXl26Fwf-HjEy_vEJBa5syTdTedj1gX...,RGAPI-baa753a4-a532-4640-9886-d8f05d8f2b39,"{'game': {'gameCreation': 1683101883696, 'game...",{'제조 필요!': '어떤 정보를 넣을지 의논 필요'}
4,13.9.506.4846,1683104197688,KR_6477814260,6,nvzyo9UMcGXV1io0zew9qjDHAiw0u_4jru-Xe_1sOlrNHR...,RGAPI-baa753a4-a532-4640-9886-d8f05d8f2b39,"{'game': {'gameCreation': 1683104197688, 'game...",{'제조 필요!': '어떤 정보를 넣을지 의논 필요'}
...,...,...,...,...,...,...,...,...
141435,13.9.506.4846,1683481787553,KR_6486218907,6,xFAv69lEtnN0ocPNyWWqTBj5icwqKWkxuPKa-bOvgc0Zlb...,RGAPI-baa753a4-a532-4640-9886-d8f05d8f2b39,"{'game': {'gameCreation': 1683481787553, 'game...",{'제조 필요!': '어떤 정보를 넣을지 의논 필요'}
141436,13.3.491.6222,1676293945999,KR_6361048426,3,JNbL81JbELAYxzRChAtN0xZGX-sQAk8R1TT4UkUbeQmmSo...,RGAPI-baa753a4-a532-4640-9886-d8f05d8f2b39,"{'game': {'gameCreation': 1676293945999, 'game...",{'제조 필요!': '어떤 정보를 넣을지 의논 필요'}
141437,13.3.491.6222,1676293945999,KR_6361048426,4,AwaFTopmCcoRZos4_5VbnUp0UwQCBA310bChBOXUULE5KJ...,RGAPI-baa753a4-a532-4640-9886-d8f05d8f2b39,"{'game': {'gameCreation': 1676293945999, 'game...",{'제조 필요!': '어떤 정보를 넣을지 의논 필요'}
141438,13.9.506.4846,1683444778046,KR_6485093692,5,CQYWC4hq37FwPt-7VvSnzo1DJ79hrz8w7cs14Hy5DEv0L8...,RGAPI-baa753a4-a532-4640-9886-d8f05d8f2b39,"{'game': {'gameCreation': 1683444778046, 'game...",{'제조 필요!': '어떤 정보를 넣을지 의논 필요'}
141439,13.9.506.4846,1683444778046,KR_6485093692,6,-TZ6jpem3-Q11oH1WoKswcR_bQmEvtGZo12PN9e-LTeZ5q...,RGAPI-baa753a4-a532-4640-9886-d8f05d8f2b39,"{'game': {'gameCreation': 1683444778046, 'game...",{'제조 필요!': '어떤 정보를 넣을지 의논 필요'}

In [76]:
df2["MATCHES"] = df2["MATCHES"].apply(lambda x: ast.literal_eval(x))

In [ ]:
champ_spell_win