In [1]:
import my_utils as mu
import pandas as pd

In [19]:
mu.oracle_totalExecute('SELECT COUNT(*) FROM RAWDATA')

oracle open!
oracle close!

   COUNT(*)
0    328830

In [2]:
rawdata = mu.oracle_totalExecute('SELECT * FROM RAWDATA')

oracle open!
oracle close!

In [3]:
rawdata_dict = rawdata.to_dict()

In [4]:
rawdata_cols = [a for a in rawdata_dict.keys()]

In [5]:
newdata_dict = {a:{} for a in rawdata_cols}

In [16]:
for idx in range(len(rawdata_dict['VERSION'])):
    for col in rawdata_cols:
        if col not in rawdata_cols[9:]:
            newdata_dict[col][idx] = rawdata_dict[col][idx]
        elif col == 'CHAMPION' or col == 'KDA':
            newdata_dict[col][idx] = rawdata_dict[col][idx].replace("'",'"').replace('True','1').replace('False','0')
        else:
            newdata_dict[col][idx] = rawdata_dict[col][idx].replace("'",'"')

In [18]:
mu.insertDataFrameIntoTable(pd.DataFrame(newdata_dict), 'RAWDATA')

>>> 테이블의 컬럼 정보 검색 중...
>>> 테이블의 Primary Key 정보 검색 중...
>>> 테이블에 데이터 삽입 중...

100%|██████████| 328830/328830 [1:44:30<00:00, 52.44it/s]

>>> 처리 완료!