In [4]:
import pandas as pd 
import numpy as np 
import requests

In [62]:
def summonerinfo(userName):
    result=[]
    lst = []
    riot_api_key = 'RGAPI-7d49d0d8-e5cb-42b8-a228-517e0990c38a'
    
    get_id_url = 'https://kr.api.riotgames.com/lol/summoner/v4/summoners/by-name/'+userName+'?api_key='+riot_api_key
    id_info = requests.get(get_id_url).json()
    get_info_url = 'https://kr.api.riotgames.com/lol/league/v4/entries/by-summoner/'+id_info['id']+'?api_key='+riot_api_key
    user_info = requests.get(get_info_url).json()
    
    icon = str(id_info['profileIconId'])
    
    lst.append(id_info['id']) 
    lst.append(id_info['puuid'])
    lst.append(user_info[0]['summonerName'])
    lst.append(id_info['summonerLevel'])
    lst.append('http://ddragon.leagueoflegends.com/cdn/13.8.1/img/profileicon/'+icon+'.png')
    lst.append(user_info[0]['tier'])
    lst.append(user_info[0]['rank'])
    lst.append(user_info[0]['wins'])
    lst.append(user_info[0]['losses'])
    lst.append(user_info[0]['veteran'])
    lst.append(user_info[0]['inactive'])
    lst.append(user_info[0]['freshBlood'])
    lst.append(user_info[0]['hotStreak'])
    result.append(lst)
    
    col = ['summoner_id','summoner_puuid','summoner_name','summoner_level','summoner_profile','summoner_tier','summoner_rank','summoner_wins','summoner_losses','summoner_veteran','summoner_inactive','summoner_freshblood','summoner_hotstreak']
    df_summoner_info = pd.DataFrame(result, columns = col)
    
    result=[]
    lst = []
    lst.append(user_info[0]['summonerName'])
    lst.append(id_info['summonerLevel'])
    lst.append(id_info['profileIconId'])
    lst.append(user_info[0]['rank'])
    result.append(lst)
    
    col = ['summoner_name','summoner_level','summoner_profile','summoner_rank']
    df_summoner_game_info = pd.DataFrame(result, columns = col)
    
    return df_summoner_info, df_summoner_game_info

In [63]:
x = input()
a,b = summonerinfo(x)

hideonbush

In [64]:
a

,summoner_id,summoner_puuid,summoner_name,summoner_level,summoner_profile,summoner_tier,summoner_rank,summoner_wins,summoner_losses,summoner_veteran,summoner_inactive,summoner_freshblood,summoner_hotstreak
0,Uv__qD0g5yQ7Il7bi4dgclxWPV5uc-sDOgbB_aRFpCRZlw,tqNDZptQ8nTaqKhkVLTVK7Nils41npJINrR2aWJE98vioy...,Hide on bush,657,http://ddragon.leagueoflegends.com/cdn/13.8.1/...,CHALLENGER,I,249,220,True,False,False,False

In [65]:
b

  summoner_name  summoner_level  summoner_profile summoner_rank
0  Hide on bush             657                 6             I